.list {
  transition: 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list:hover {
  transform: scale(1.2);
}

.image {
  width: 360px;
  height: 300px;
  margin: 30px;
}

#gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding: 20px;

  background-color: rgb(131, 123, 113);
  list-style: none;
}
